# global
**local**
__pycache__

# root
*.run
.vscode

# open-assistant
open-assistant/dev/chat-ui
open-assistant/dev/inference-data
open-assistant/dev/mongo

# hf
hf/models
hf/test-trainer

# galactica
galactica/data




