# global
**local**
__pycache__

# root
*.run
.vscode
vm.ipynb

# open-assistant
open-assistant/dev/chat-ui
open-assistant/dev/inference-data
open-assistant/dev/mongo

# hf
hf/models
hf/test-trainer

# galactica
galactica/data
galactica/state_dict
galactica/test-trainer
galactica/test.ipynb
galactica/wandb
